<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="zc.study.struts1.persistance.CadeauMapper">

	<cache />

	<resultMap id="cadeauResultMap" type="Cadeau">
		<result property="ref" column="REF" />
		<result property="description" column="DESCR" />
		<result property="libelle" column="LABEL" />
		<result property="type" column="TYPE" />
		<result property="actif" column="ACTIF" />
	</resultMap>

	<sql id="columns">REF, DESCR, LABEL, TYPE, ACTIF</sql>
	
	<select id="getAll" resultMap="cadeauResultMap">
		select <include refid="columns" />
		from "TMS1"."CADEAUX"
	</select>
	
	<select id="getByRef" resultMap="cadeauResultMap">
		select <include refid="columns" />
		from "TMS1"."CADEAUX"
		where REF = #{ref}
	</select>
	
	<select id="getByType" resultMap="cadeauResultMap">
		select <include refid="columns" />
		from "TMS1"."CADEAUX"
		where TYPE = #{type}
	</select>

	<select id="getByStatus" resultMap="cadeauResultMap">
		select <include refid="columns" />
		from "TMS1"."CADEAUX"
		<where>
			<choose>
				<when test="name == 'actif'">
					AND ACTIF = 1
				</when>
				<when test="name == 'inactif'">
					AND ACTIF = 0
				</when>
			</choose>
		</where>
	</select>



	<insert id="insertCadeau" parameterType="Cadeau">
		insert into "TMS1"."CADEAUX" (<include refid="columns" />)
		values (#{ref}, #{description}, #{label}, #{type}, #{actif})
	</insert>
	
	<update id="updateCadeau" parameterType="Cadeau">
	    update "TMS1"."CADEAUX"
	       set LABEL = #{label}
		where REF = #{ref}
	</update>
	
	<update id="activateCadeau" parameterType="Cadeau">
	    update "TMS1"."CADEAUX"
	       set ACTIF = 1
		where REF = #{ref}
	</update>
	
	<update id="inactivateCadeau" parameterType="Cadeau">
	    update "TMS1"."CADEAUX"
	       set ACTIF = 0
		where REF = #{ref}
	</update>

	<delete id="deleteCadeau" parameterType="Cadeau">
		delete from "TMS1"."CADEAUX"
		where REF = #{ref}
	</delete>
	
</mapper>