<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<package name="zc.study.struts1.domain" />
	</typeAliases>
	
	<environments default="wadis">
		<environment id="wadis">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/wadis-database" />
			</dataSource>
		</environment>
		<environment id="wadis-cms">
			<transactionManager type="JDBC" />
			<dataSource type="JNDI">
				<property name="data_source" value="java:comp/env/jdbc/wadis-cms-database" />
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<package name="zc.study.struts1.persistance"/>
	</mappers>

</configuration>